---
layout: default
format: blog-index
# Don't index these pages dear Google.
noindex: true
---
<div class="row">
	<div class="medium-8 columns t30">
		{% include _pagination.html %}
	</div><!-- /.medium-7.columns -->


	<div class="medium-4 columns t30">
		<div class="panel radius">
	    <h3>Work Samples</h3>

			<hr></hr>
			<h4>Communication<h4>
			<ul>
				<li><a href="http://mojo-web.com/blog/countdown-comms/"><span style="font-family: Trebuchet MS">Countdown Communications »</span></a></li>
				<li><a href="http://mojo-web.com/blog/newsletter/"><span style="font-family: Trebuchet MS">eNewsletter »</span></a></li>
				<li><a href="http://mojo-web.com/blog/poster/"><span style="font-family: Trebuchet MS">Project Poster »</span></a></li>
				<li><a href="http://mojo-web.com/blog/talking-points/"><span style="font-family: Trebuchet MS">Manager Talking Points »</span></a></li>
				<li><a href="http://mojo-web.com/blog/bulletin/"><span style="font-family: Trebuchet MS">Employee Bulletin »</span></a></li>
				<li><a href="http://mojo-web.com/blog/vender-letter/"><span style="font-family: Trebuchet MS">Vendor/Customer Communication »</span></a></li>
				<li><a href="http://mojo-web.com/blog/countdown-comms/"><span style="font-family: Trebuchet MS">Countdown Communications »</span></a></li>
			</ul>

			<hr></hr>
			<h4>Instructional Design<h4>
			<ul>
				<li><a href="http://mojo-web.com/blog/golive-guide/"><span style="font-family: Trebuchet MS">eNewsletter »</span></a></li>
			</ul>

		</div>
	</div><!-- /.medium-5.columns -->
</div><!-- /.row -->
